@import "tailwindcss";

body {
    background-color: #fcfcfc;
}

@theme {
    --max-width-container: 95%;
    --color-red: #FF5252;
    --color-gray: #dfdfdf;
    --color-body: #fcfcfc;
    --font-mont: "Montserrat", sans-serif;

}